.dashboardContainer{
  display: flex;
}

.dashboardContainer .title{
  color: rgba(7, 135, 7, 1);
}
.dashboard__left{
 max-width: 200px;
 width: 20%;
 background: linear-gradient(90deg, #008720 0%, #004A47 100%);
}
.dashboard_right{
  width: 100%;
  
  background-color: rgba(0, 3, 38, 1);
  color: white;
}

.dashboard__balance, .dashboard__energy{
  display: flex;
  background-color: rgb(1, 3, 29);
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
}
.dashboard__button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}
.dashboard__button button{
  border: none;
  outline: none;
  background: linear-gradient(90deg, #008720 0%, #004A47 100%);
  border-radius: 90px;
  max-width: 250px;
  width: 70%;
  padding: 10px 0;
}
