
.landingContainer{
  background: #0D0D2B;
  color: white;
}

/* ============ Header  ============ */
.landing__header{
  align-items: center;
  width: 90%; 
  margin: auto;
}
.landing__header img{
  width: 100%
}
 
.landing__header button{
  background: linear-gradient(90deg, #008720 0%, #004A47 100%);
  border-radius: 80px;
  color: white;
  border: none;
  outline: none;
  padding: 8px 20px
}
 /* ============ About  ============ */
 .landing__about{
   text-align: center;
   width: 70%; 
   margin: auto;
   margin-top: 100px
 }
 .landing__about img{
  width: 100%;
  border-radius: 7px;
}

 /* ============ Faq  ============ */
 .landing__faq{
   margin-top: 100px;
   background-image: url(../images/faqbg.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top;
   padding-top: 400px;
   padding-bottom: 400px;
 }
 .landing__faq .inner{
   width: 80%;
   margin: auto;
 }
 .landing__faq .top{
   text-align: center;
   margin-bottom: 80px;
   /* padding-top: 250px; */
 }
 

 .accordion-item, .accordion-header button, .accordion-button:not(.collapsed){
   color: white;
   background: transparent;
   border: none;
 }
 .accordion-header button{
   font-weight: 700;
   outline: none
 }
 .accordion-button:focus{
   box-shadow: none;
 }
 /* ============ Contact  ============ */
 .contact__form{
   display: flex;
 }
.contact__form .left{
  display: flex;
  flex-direction: column;
}
.contact__form .right{
  display: flex;
  flex-direction: column;
}

 /* ============ Footer  ============ */

